<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.GameRootNameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.GameRootName">
        <id column="id" property="id" />
        <result column="gameCode" property="gameCode" />
        <result column="gameName" property="gameName" />
        <result column="gameTable" property="gameTable" />
        <result column="rootRate" property="rootRate" />
        <result column="rootName" property="rootName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gameCode, gameName, gameTable, rootRate, rootName
    </sql>

    <select id="selectGameNameList" resultType="map">
        select
        DISTINCT(gameName),gameCode
        FROM game_root_name
    </select>

    <select id="selectRootNameList" resultType="map">
        select
        DISTINCT(rootName),gameCode
        FROM game_root_name
    </select>

</mapper>
